{
  "plugins": ["transform-flow-strip-types"],
  "env": {
    "rollup": {
      "presets": [["latest", {
        "es2015": {"modules": false}
      }]]
    },
    "test": {
      "presets": ["latest"]
    }
  }
}
